In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta
import math

In [3]:
#Fetch DataFrame from github csv
URL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
df = pd.read_csv(URL)

In [173]:
#Just a test on sum
df1 = df.loc[(df['Province/State'].notna()) & (df1['Country/Region'] == 'Australia')][['Province/State','Country/Region', '2/5/21']]
#filtered result
print(df1)
#check sum
df1['2/5/21'].sum()
#df

                  Province/State Country/Region  2/5/21
8   Australian Capital Territory      Australia     118
9                New South Wales      Australia    5119
10            Northern Territory      Australia     101
11                    Queensland      Australia    1311
12               South Australia      Australia     602
13                      Tasmania      Australia     234
14                      Victoria      Australia   20456
15             Western Australia      Australia     907

28848

In [154]:
/#Format the DataFrame
countries = df['Country/Region'].unique()
days = df.columns[4:]

list = []

#Convert dates to ISO format
for country in countries:
    for day in days:
        date_obj = datetime.strptime(day, '%m/%d/%y')
        iso_date = date_obj.strftime('%Y-%m-%d')
        #Need sum because there are more states for some country
        sum = df.loc[df['Country/Region'] == country][day].sum()
        list.append({"Country" : country, "Date" : iso_date, "Confirmed" : sum})
        
print("Done")

Done

In [149]:
df_formatted = pd.DataFrame(list)
print(df_formatted)
#Control test on 2021-02-05
df_formatted.loc[(df_formatted['Country'] == 'Australia') & (df_formatted['Date'] == '2021-02-05')]

In [7]:
#Format the DataFrame with new confirmed
countries = df['Country/Region'].unique()
#TODO days is ordered(?)
days = df.columns[4:]
list = []

#TODO nan value on confirmed(?)

#Convert dates to ISO format
for country in countries:
    old_confirmed = math.nan
    for day in days:
        #Convert dates to ISO format just once
        date_obj = datetime.strptime(day, '%m/%d/%y')
        iso_date = date_obj.strftime('%Y-%m-%d')
        #Need sum because there are more states for some country
        sum = df.loc[df['Country/Region'] == country][day].sum()
        newConfirmed = sum-old_confirmed
        #TODO return negative value for new confirmed or 0 
        list.append({"Country" : country, "Date" : iso_date, "Confirmed" : sum, "New Confirmed" : newConfirmed if newConfirmed>0 or math.isnan(newConfirmed) else 0 })
        #list.append({"Country" : country, "Date" : iso_date, "Confirmed" : sum, "New Confirmed" : newConfirmed})
        old_confirmed = sum
        
print("Done")

Done

In [22]:
df_formatted = pd.DataFrame(list)
df_formatted
#df_formatted.loc[df_formatted['New Confirmed'] < 0]
#Check nan values
df_formatted.loc[df_formatted['New Confirmed'].isnull()]

                  Country        Date  Confirmed  New Confirmed
0             Afghanistan  2020-01-22          0            NaN
381               Albania  2020-01-22          0            NaN
762               Algeria  2020-01-22          0            NaN
1143              Andorra  2020-01-22          0            NaN
1524               Angola  2020-01-22          0            NaN
...                   ...         ...        ...            ...
71247             Vietnam  2020-01-22          0            NaN
71628  West Bank and Gaza  2020-01-22          0            NaN
72009               Yemen  2020-01-22          0            NaN
72390              Zambia  2020-01-22          0            NaN
72771            Zimbabwe  2020-01-22          0            NaN

[192 rows x 4 columns]