In [23]:
import numpy as np
import pandas as pd
from datetime import datetime

In [24]:
#Fetch DataFrame from github csv
URL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
df = pd.read_csv(URL)

In [25]:
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,54854,54891,54939,55008,55023,55059,55121,55174,55231,55265
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,74567,75454,76350,77251,78127,78992,79934,80941,81993,83082
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,106359,106610,106887,107122,107339,107578,107841,108116,108381,108629
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,9716,9779,9837,9885,9937,9972,10017,10070,10137,10172
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19580,19672,19723,19782,19796,19829,19900,19937,19996,20030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1553,1651,1657,1767,1817,1850,1882,1948,1957,1976
269,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,156996,157593,158168,158559,158962,159443,159956,160426,161087,161559
270,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2120,2120,2120,2120,2121,2122,2122,2122,2122,2124
271,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,48911,50319,51624,53352,54217,55042,56233,57489,59003,60427
272,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,32304,32646,32952,33273,33388,33548,33814,33964,34171,34331

In [29]:
#Format the DataFrame
countries = df['Country/Region'].unique()
days = df.columns[4:]

list = []

#Convert dates to ISO format
for country in countries:
    for day in days:
        date_obj = datetime.strptime(day, '%m/%d/%y')
        iso_date = date_obj.strftime('%Y-%m-%d')
        sum = df.loc[df['Country/Region'] == country][day].sum()
        list.append({"Country" : country, "Date" : iso_date, "Confirmed" : sum})
        
print("Done")

Done

In [31]:
df_formatted = pd.DataFrame(list)
print(df_formatted)

           Country        Date  Confirmed
0      Afghanistan  2020-01-22          0
1      Afghanistan  2020-01-23          0
2      Afghanistan  2020-01-24          0
3      Afghanistan  2020-01-25          0
4      Afghanistan  2020-01-26          0
...            ...         ...        ...
73147     Zimbabwe  2021-02-01      33548
73148     Zimbabwe  2021-02-02      33814
73149     Zimbabwe  2021-02-03      33964
73150     Zimbabwe  2021-02-04      34171
73151     Zimbabwe  2021-02-05      34331

[73152 rows x 3 columns]